.sobre {
  background-color: var(--background-secondary-color);
}

.sobtexto h3 {
  font-weight: 600;
  font-size: 26px;
  color: var(--text-tertiary-color);
}

.sobtexto p {
  color: var(--text-secondary-color);
  margin-left: 25px;
}

.sobjornada {
  margin-bottom: 15px;
}

.sobjornada p {
  margin-left: 25px;
  margin-bottom: 10px;
}

.sobformacao {
  margin-bottom: 15px;
}

.sobformacao p {
  margin-left: 5%;
}

.sobformacao .minp {
  margin-left: calc(5% + 15px);
  opacity: 0.8;
}

.sobcurso {
  margin-bottom: 15px;
}

.sobcurso .col {
  padding-left: 5%;
}

.sobcurso .col .minp {
  margin-left: calc(5% + 15px);
  opacity: 0.8;
}

@media (max-width: 767.98px) {
  .sobre .row {
    display: flex;
    flex-direction: column;
  }

  .sobre .sobtexto {
    width: 100%;
  }

  .sobre .sobtexto h3 {
    font-size: 22px; 
  }

  .sobre .sobcurso .row {
    display: flex;
    flex-direction: row;
  }
}