.rodape,
.rodape .navbar {
  background-color: var(--primary-color);
}

.navbar-brand {
  margin: 0;
  margin-left: 10px;
}

.rodape .row {
  justify-content: center;
  list-style-type: none;
  width: 100%;
}

.rodape .col {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.rodape .col .nav-link {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.rodape .card-body {
  border: 1px solid var(--background-secondary-color);
  padding: 2px 10px 10px;
  margin-top: 8px;
  font-size: 16px;
  text-align: start;
  background-color: var(--primary-color);
}

.rodape p {
  color: var(--text-primary-color);
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .rodape .navbar {
    justify-content: center;
  }
}

@media (max-width: 991.98px) {
    .rodape .navbar-brand {
    width: 100%;
    text-align: center;
  }
}