:root {
  --primary-color: #e5321e;
  --secondary-color: #47100b;

  --background-primary-color: #212529;
  --background-secondary-color: #0c0c0c;
  --background-terciary-color: #101010;

  --text-primary-color: #0c0c0c;
  --text-secondary-color: #fff;
  --text-tertiary-color: #e5321e;
}

* {
  scroll-behavior: smooth;
  text-decoration: none;
}

p {
  margin: 0px;
}

body {
  background-color: var(--background-secondary-color);
}

header, footer {
    padding: 8px 30px;
}

@media screen and (min-width: 1024px) {
    
}

.dtitulo {
  position: relative;
  padding: 80px 0px 15px;
}

.titulo {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 25%;
  margin: 0px;
  color: white;
}

.dtitulo .ftitulo {
  color: #47100b;
  font-weight: 700;
  font-size: calc(1.375rem + 3.5vw);
  opacity: 0.5;
}

.btn {
  padding: 10px 20px;
  color: #e5321e;
  font-weight: 500;
  border: 3px solid #e5321e;
  margin: 0;
  background-color: #101010;
  transition: 0.4s;
}

.btncontato:hover,
.btnenviar:hover {
  background-color: #e5321e;
  color: black;
}
