.navbar {
  background: var(--background-secondary-color);
  transition: top 0.3s;
}

.nav-item {
  text-align: center;
  margin: 0px 5px;
}

.nav-link {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.redesociais {
  display: flex;
}

@media (max-width: 991.98px) {
  .redesociais {
    display: none;
  }
}