.navbar {
  background: var(--background-secondary-color);
  transition: top 0.3s;
  padding: 8px 30px;
}

.navbar .container-fluid {
    padding: 0px;
}

.nav-item {
  text-align: center;
  margin: 0px 5px;
}

.nav-link {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.redesociais {
  display: flex;
}

@media (max-width: 991.98px) {
  .redesociais {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 8px 60px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    padding: 8px 70px;
  }
}