.projeto .filterable-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.projeto .filterable-cards .card {
  flex-basis: 340px;
  background-color: var(--background-terciary-color);
  text-decoration: none;
}

.projeto .filterable-cards img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.projeto .filterable-cards .card-body {
  justify-content: center;
  padding: 10px;
}

.projeto .filterable-cards .card-breve {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-primary-color);
  padding: 10px;
}

.projeto .filterable-cards .card-text {
  margin: 5px 0px 5px;
  padding: 5px;
  color: var(--text-secondary-color);
}

.projeto .filterable-cards .card-text .h6 {
  margin-left: 5px;
}

.projeto .filterable-cards .card-text .p {
  font-weight: 700;
}

.projeto .filterable-cards .card-body:hover {
  filter: brightness(110%);
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .projeto .filterable-cards .card {
    flex-basis: 314px;
  }
}

@media screen and (min-width: 1024px) {
  .projeto .filterable-cards .card {
    flex-basis: 420px;
  }

  .projeto .filterable-cards img {
    max-height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .projeto .filterable-cards .card {
    flex-basis: 386px;
  }

  .projeto .filterable-cards img {
    max-height: 200px;
  }
}