.habilidade {
  background-color: var(--background-terciary-color);
  padding: 0px 5% 50px;
}

.habilidade h3 {
  color: var(--text-tertiary-color);
}

.habilidade p {
  color: var(--text-secondary-color);
}

.habilidade .divhab {
  padding-bottom: 20px;
}

.habilidade .hab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.habilidade .progress {
  height: 10px;
  background-color: var(--background-primary-color);
}

.habilidade .progress-bar {
  height: 9px;
  background: var(--primary-color);
}

.habilidade .row {
  margin-left: 2.5%;
}

@media (max-width: 767.98px) {
  .habilidade .divhab .row {
    display: flex;
    flex-direction: column;
  }
}