* {
  scroll-behavior: smooth;
}

p {
  margin: 0px;
  text-decoration: none;
}

body {
  background-color: #0c0c0c;
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #47100b;
}

body::-webkit-scrollbar-thumb {
  background-color: #c72715;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ff3821;
  border-radius: 10px;
}

.navbar {
  background: rgb(10, 10, 10);
  transition: top 0.3s;
  /* background: linear-gradient(180deg, rgba(10,10,10,0.8533788515406162) 90%, rgba(10,10,10,0) 100%); */
  padding-left: 5%;
  padding-right: 5%;
}

.nav-item {
  text-align: center;
  margin: 0px 5px;
}

.nav-link {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #e5321e;
  border-bottom: 2px solid #e5321e;
}

.redesociais {
  display: flex;
}

.inicio {
  background-color: #0c0c0c;
  background-image: url("../img/DesktopWallpaperAI.png");
  background-position-x: left;
  background-repeat: no-repeat;

  height: 100vh;
  padding-left: 5%;
  padding-top: 66px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inicio .filtro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(12, 12, 12, 1);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 75%,
    rgba(12, 12, 12, 1) 100%
  );
  width: 100%;
  height: 100%;
}

.inicio .pfrase {
  /* font-size: 30px; */
  margin: 0px;
  font-weight: 600;
  color: white;
}

.inicio .pnome {
  font-size: calc(1.375rem + 3.5vw);
  font-weight: 700;
  color: white;
}

.inicio .pfuncao {
  display: flex;
  justify-content: space-between;

  max-width: 50%;

  margin: 0px;
  padding: 8px 15px;
  border-radius: 10px;

  color: black;
  background-color: #e5321e;
}

.inicio .pfuncao p {
  /* font-size: 22px; */
  /* letter-spacing: 1.5px; */
  font-weight: 600;
}

.inicio .pintroducao {
  /* font-size: 20px; */
  color: white;

  width: 55%;
  margin: 20px 0px;
}

.inicio .btncontato {
  width: max-content;
  padding: 10px 20px;

  color: #e5321e;
  /* font-size: 22px; */
  font-weight: 500;

  border: 3px solid #e5321e;

  transition: 0.4s;
}

.offcanvas {
  transition: 0.2s ease-in;
}

.offcanvas-header {
  border-left: 2px solid #e5321e;
  background-color: #e5321e;
  color: black;
}

.offcanvas-body {
  border-left: 2px solid #e5321e;
  background-color: #0c0c0c;
  padding-top: 30px;
}

.offcanvas-title {
  width: 100%;
  text-align: center;
  margin-left: 24px;
}

.offmenu {
  margin: 10px 0px 10px;
}

.offmenu .nav-item button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0px solid;
  width: 100%;
}

.offredesociais {
  display: flex;
  flex-direction: row;
}

.offredesociais .nav-item {
  margin: 0px 15px;
}

.sobre {
  background-color: #0c0c0c;
  padding: 0px 5% 50px;
}

.dtitulo {
  position: relative;
  padding: 80px 0px 15px;
}

.titulo {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 25%;
  margin: 0px;
  color: white;
}

.dtitulo .ftitulo {
  color: #47100b;
  font-weight: 700;
  font-size: calc(1.375rem + 3.5vw);
  opacity: 0.5;
}

.sobtexto h3 {
  color: #e5321e;
}

.sobtexto p {
  color: white;
  margin-left: 5%;
}

.sobjornada {
  margin-bottom: 15px;
}

.sobjornada p {
  margin-left: 5%;
}

.sobformacao {
  margin-bottom: 15px;
}

.sobformacao p {
  margin-left: 5%;
}

.sobformacao .minp {
  margin-left: calc(5% + 15px);
  opacity: 0.8;
}

.sobcurso {
  margin-bottom: 15px;
}

.sobcurso .col {
  padding-left: 5%;
}

.sobcurso .col .minp {
  margin-left: calc(5% + 15px);
  opacity: 0.8;
}

.habilidade {
  background-color: rgb(10, 10, 10);
  padding: 0px 5% 50px;
}

.habilidade h3 {
  color: #e5321e;
}

.habilidade p {
  color: white;
}

.habilidade .divhab {
  padding-bottom: 20px;
}

.habilidade .hab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.habilidade .progress {
  height: 10px;
  background-color: #1f1f1f;
}

.habilidade .progress-bar {
  height: 9px;
  background: #e5321e;
}

.habilidade .row {
  margin-left: 2.5%;
}

/*-- SESSÃO: PROJETOS --*/

.projeto {
  padding: 0px 5% 50px;
}

.projeto .filtro {
  margin: 0px 10px 20px;
}

.projeto .filtro .row {
  justify-content: center;
  align-items: center;
}

.projeto .filtro .col {
  text-align: center;
  max-width: fit-content;
}

.projeto .filtro .btn {
  color: white;
  margin-bottom: 3px;
}

.projeto .filtro .btn.active {
  color: #e5321e;
  border: 0px solid #e5321e;
  border-bottom: 2px solid #e5321e;
  margin-bottom: 1px;
  border-radius: 0px;
}

.projeto .filtro .btn:active {
  border: 1px solid rgb(0, 0, 0, 0);
  border-bottom: 2px solid #e5321e;
  margin-bottom: 1px;
  border-radius: 0px;
}

.projeto .proj-destaque {
  margin-bottom: 20px;
}

.projeto .destaque {
  margin: 0px 0.5vh;
  border-radius: 10px;
}

.projeto .destaque .col {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projeto .destaque .carousel-dark .carousel-item {
  text-align: center;
}

.projeto .destaque .carousel-dark .carousel-item img {
  border-radius: 10px;
  max-height: 85vh;
  height: auto;
}

.projeto .destaque img {
  border-radius: 10px;
  max-height: 85vh;
  height: auto;
  max-width: 100%;
}

.projeto .destaque .btnFullscreen {
  border-radius: 10px;
  max-height: 85vh;
  max-width: 100%;

  position: absolute;
  top: 50%;

  background-color: #0c0c0c;
}

.projeto .destaque .col-6 {
  padding: 0px;
  width: 50%;
}

.projeto .destaque figure {
  margin: 5px;
}

.projeto .destaque .card-body {
  display: flex;
  height: 100%;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.projeto .destaque .card-text {
  text-align: left;
  color: white;
  margin-bottom: 12px;
}

.projeto .destaque .card-text .h6 {
  opacity: 0.7;
  margin-bottom: 5px;
}

.projeto .destaque .card-text .p {
  padding-left: 4%;
}

.projeto .destaque .card-text.descricao-projeto .p {
  margin-bottom: 4px;
}

.projeto .destaque .card-text .printitulo {
  font-weight: 700;
}

.projeto .destaque .baixo .card-text {
  display: flex;
}

.projeto .destaque .card-text.links-projeto {
  display: flex;
  flex-direction: column;
}

.projeto .destaque .card-text.links-projeto .a {
  padding-left: 4%;
}

/* --------------------------------------------------- */

.projeto .filterable-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.projeto .filterable-cards .card {
  flex-basis: 400px;
  background-color: #101010;
  border-radius: 10px;
  text-decoration: none;
}

.projeto .filterable-cards img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.projeto .filterable-cards .card-body {
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.projeto .filterable-cards .card-breve {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  padding: 10px;
}

.projeto .filterable-cards .card-text {
  margin: 5px 0px 5px;
  padding: 5px;
  color: white;
}

.projeto .filterable-cards .card-text .h6 {
  margin-left: 5px;
}

.projeto .filterable-cards .card-text .p {
  font-weight: 700;
}

.projeto .filterable-cards .card-body:hover {
  filter: brightness(110%);
  padding: 8px;
}

.contato {
  background-color: #101010;
  padding: 0px 5% 50px;
}

.contato form {
  margin: 0px 10%;
}

.contato .row {
  display: flex;
  flex-direction: column;
}

.contato .form-label {
  color: #e5321e;
  font-weight: 700;
}

.contato input,
textarea {
  margin-bottom: 15px;
}

.contato .dbutton {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.contato .btnenviar {
  padding: 10px 20px;
  color: #e5321e;
  width: 400px;
  font-weight: 500;
  border: 3px solid #e5321e;

  transition: 0.4s;
}

.contato .txtretorno {
  display: block;
  text-align: center;
  color: #e5321e;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 7px;

  transition: all 0.5s;

  display: none;
}

.contato .dredesociais {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contato .dredesociais a {
  margin: 0px 15px;
}

.rodape,
.rodape .navbar {
  background-color: #e5321e;
}

.rodape .row {
  justify-content: center;
  list-style-type: none;
  width: 100%;
}

.rodape .col {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.rodape .col .nav-link {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.rodape .card-body {
  border: 1px solid rgb(12, 12, 12);
  padding: 2px 10px 10px;
  margin-top: 8px;
  font-size: 16px;
  text-align: start;
  background-color: #e45342;
}

.rodape p {
  color: black;
  text-align: center;
  padding-bottom: 20px;
}

.btncontato:hover,
.btnenviar:hover {
  background-color: #e5321e;
  color: black;
}

@media (max-width: 991.98px) {
  .redesociais {
    display: none;
  }

  .inicio .pfuncao {
    max-width: 65%;
  }

  .inicio .pintroducao {
    width: 65%;
  }

  .rodape .navbar-brand {
    width: 100%;
    text-align: center;
    margin-left: 5px;
  }
}

@media (max-width: 767.98px) {
  .inicio {
    text-align: center;
    padding: 66px 5% 0px;
  }

  .inicio .pfuncao {
    max-width: none;
    margin: 0px 5%;
  }

  .inicio .pintroducao {
    width: 100%;
  }

  .inicio .btncontato {
    width: auto;
    margin: 0px 20%;
  }

  .sobre .row {
    display: flex;
    flex-direction: column;
  }

  .sobre .sobtexto {
    width: 100%;
  }

  .sobre .sobcurso .row {
    display: flex;
    flex-direction: row;
  }

  .habilidade .divhab .row {
    display: flex;
    flex-direction: column;
  }

  .projeto .destaque.row {
    display: flex;
    flex-direction: column;
  }

  .projeto .destaque .baixo .row {
    display: flex;
    flex-direction: column;
  }

  .contato form {
    margin: 0px;
  }

  .contato .btnenviar {
    width: -webkit-fill-available;
    margin: 0px 20%;
  }
}
